name: Compile Resume PDF

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  compile:
    name: Compile resume pdf
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: alihan_baysal_resume.tex
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply pdflatex changes
